<div class="row text-center">
  <h1>Set Lineup </h1>
</div>
<div class="row">
  <table class="table table-hover table-primary table-striped">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Name</th>
      <th scope="col">Hits</th>
      <th scope="col">Avg</th>
      <th scope="col">HRs</th>
      <th scope="col">RBIs</th>
    </tr>
  </thead>
  <tbody>

    {{#each players as |player| }}
    <tr>
      <th scope="row">{{player.position}}</th>
      <td>{{player.name}}</td>
      <td>{{player.hits}}</td>
      <td>{{player.battingAverage}}</td>
      <td>{{player.homeRuns}}</td>
      <td>{{player.rbis}}</td>
    </tr>
    {{/each}}

  </tbody>
</table>
</div>

 <div class="row text-center">
        <h1>Set Lineup</h1>
    </div>
<div class="row">
  <form>
  <table class="table table-hover table-primary table-striped form-group">
  <thead>
    <tr>
      <th scope="col">Order</th>
      <th scope="col">Player</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
        <input class="form-control form-control-sm" type="text" placeholder="Player Name">
      </td>
    </tr>
     <tr>
      <th scope="row">2</th>
      <td>
        <input class="form-control form-control-sm" type="text" placeholder="Player Name">
      </td>
    </tr>
     <tr>
      <th scope="row">3</th>
      <td>
        <input class="form-control form-control-sm" type="text" placeholder="Player Name">
      </td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td>
        <input class="form-control form-control-sm" type="text" placeholder="Player Name">
      </td>
    </tr>
     <tr>
      <th scope="row">5</th>
      <td>
        <input class="form-control form-control-sm" type="text" placeholder="Player Name">
      </td>
    </tr>
     <tr>
      <th scope="row">6</th>
      <td>
        <input class="form-control form-control-sm" type="text" placeholder="Player Name">
      </td>
    </tr>
     <tr>
      <th scope="row">7</th>
      <td>
        <input class="form-control form-control-sm" type="text" placeholder="Player Name">
      </td>
    </tr>
   <tr>
      <th scope="row">8</th>
      <td>
        <input class="form-control form-control-sm" type="text" placeholder="Player Name">
      </td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>
        <input class="form-control form-control-sm" type="text" placeholder="Player Name">
      </td>
    </tr>
  </tbody>
</table>
<button type="submit" class="btn btn-primary setLineup">Submit Lineup</button>
</form>
</div>

<script src="./js/lineup.js"></script>
