 <div class="row text-center">
  <h1>{{manager.name}}'s Team</h1>
</div>
<div class="row">
  <table class="table table-hover table-primary table-striped">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Name</th>
      <th scope="col">Hits</th>
      <th scope="col">Avg</th>
      <th scope="col">HRs</th>
      <th scope="col">RBIs</th>
    </tr>
  </thead>
  <tbody>

    {{#each players as |player| }}
    <tr>
      <th scope="row">{{player.position}}</th>
      <td>{{player.name}}</td>
      <td>{{player.hits}}</td>
      <td>{{player.battingAverage}}</td>
      <td>{{player.homeRuns}}</td>
      <td>{{player.rbis}}</td>
    </tr>
    {{/each}}

  </tbody>
</table>
</div>
     
 <form class="bg-light">
  <div class="mb-3">
    <h2>Add a Player</h2>
    <label for="addName" class="form-label">Player Last Name</label>
    <input type="text" class="form-control" id="addName">
  </div>
  <div class="mb-3">
    <label for="addPosition" class="form-label">Player Position</label>
    <input type="text" class="form-control" id="addPosition">
  </div>
  <button type="submit" class="btn btn-danger addPlayer">Submit</button>
</form>  
<br>
 <form class="bg-light">
  <div class="mb-3">
    <h2>Update Player Details</h2>
    <label for="playerName" class="form-label">Player Last Name</label>
    <input type="text" class="form-control" id="playerName">
  </div>
  <div class="mb-3">
    <label for="updatePosition" class="form-label">Player Position</label>
    <input type="text" class="form-control" id="updatePosition">
  </div>
  <div class="mb-3">
    <label for="updateHits" class="form-label">Hits</label>
    <input type="text" class="form-control" id="updateHits">
  </div>
    <div class="mb-3">
    <label for="updateAvg" class="form-label">Batting Avg</label>
    <input type="text" class="form-control" id="updateAvg">
  </div>
    <div class="mb-3">
    <label for="updateHr" class="form-label">Home Runs</label>
    <input type="text" class="form-control" id="updateHr">
  </div>
  </div>
    <div class="mb-3">
    <label for="updateRbis" class="form-label">RBIs</label>
    <input type="text" class="form-control" id="updateRbis">
  </div>
  <button type="submit" class="btn btn-danger updatePlayer">Submit</button>
</form> 
<br>
<form class="bg-light">
  <div class="mb-3">
    <h2>Delete a Player</h2>
    <label for="deleteName" class="form-label">Player Last Name</label>
    <input type="text" class="form-control" id="deleteName">
  </div>
  <button type="submit" class="btn btn-danger deletePlayer">Submit</button>
</form>  

<script src="./js/profile.js"></script>
